body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.header, .normal-page-headers {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

#main-quiz-page, .end-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh; 
    width: 100vw; 
    box-sizing: border-box; 
    padding: 20px;
}

#descrip-area {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#start-button {
    width: 50%;
    margin-top: 100px;
}

#descrip-area h1, #final-score {
    color: #6c757d;
    text-align: center;
    width: 100%;
}

#start-button, #restart-button, .answers button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pages {
    margin: 20px;
}

#question-area, #wrong-answers {
    margin: 20px;
}

#answer-area ul, #wrong-answers-list {
    list-style-type: none;
    padding: 0;
}

#answer-area li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #6c757d;
    border-radius: 5px;
}

#answer-area li:hover {
    background-color: #f8f9fa;
}

#answer-area li.correct {
    background-color: #28a745;
    color: white;
}

#answer-area li.incorrect {
    background-color: #dc3545;
    color: white;
}

#final-score {
    font-size: 2em;
}
.end-page {
    display: none;
}


@media (max-width: 768px) {
    #descrip-area h1, #final-score {
        font-size: 1.5em;
    }
    #start-button, #restart-button, .answers button {
        padding: 5px 10px;
    }
}
